@using Microsoft.AspNetCore.Identity
@using VehicleRoutingProblem.Models
@using VehicleRoutingProblem.Data

@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager
@inject VRPDbContext _Context

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right ">
            <li>
                @*با کلیک برروی لینک زیر باید به پروفایل شخصی وصل شود*@
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">
                    @UserManager.GetUserAsync(User).Result.FristName @UserManager.GetUserAsync(User).Result.LastName
                    خوش آمدی
                </a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </li>
        </ul>
    </form>
  

    var lstRol = _Context.UserRoles.Where(i => i.UserId == UserManager.GetUserAsync(User).Result.Id)
                                            .Select(i => i.RoleId).ToList();
    var lstRolName = _Context.Roles.Where(i => lstRol.Contains(i.Id)).Select(i => i.Name).ToList();
    @if (lstRolName.Contains("مدیر سامانه"))
            {
                <ol class="nav navbar-nav ">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
            <li><a asp-area="" asp-controller="CompanyEmployes" asp-action="Index">Employes</a></li>
            <li><a asp-area="" asp-controller="UserRoles" asp-action="Index">UserRoles</a></li>
                </ol>
    }
    else if (lstRolName.Contains("توزیع‌کننده"))
    {
        <ol class="nav navbar-nav ">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
        </ol>
    }
    else if (lstRolName.Contains("مشتری"))
    {
        <ol class="nav navbar-nav ">
            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
        </ol>

    }
    else if (lstRolName.Contains("راننده"))
    {
        <ol class="nav navbar-nav ">
            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
        </ol>

    }
}
else
{
    @*navbar-default*@
    <ul class="nav navbar-nav navbar-right ">
        @*<li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>*@
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log In</a></li>
        <li><a asp-area="" asp-controller="CompanyInfoes" asp-action="Index">All Companies</a></li>
        <li><a asp-area="" asp-controller="Users" asp-action="Index">All Users</a></li>
        <li><a asp-area="" asp-controller="Roles" asp-action="Index">Roles</a></li>
        
        @*<li><a asp-area="" asp-controller="UserRoles" asp-action="Index">UserRoles</a></li>*@
    </ul>
}
