@using VehicleRoutingProblem.BusinessLayer.Profile
@model IUser


<h4>پروفایل</h4>
<hr />
<div class="form-group">
    <label asp-for="FristName" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="LastName" class="form-control" />
    </div>
</div>
<div class="form-group">
    <label asp-for="Email" class="col-md-2 control-label"></label>
  
</div>