@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <abbr title="Address">Address:</abbr>
    No 17, touraj 11, Mashhad , Khorasan Razavi <br />
    
    <abbr title="Phone">Phone:</abbr>
    051 3713 6111<br />
    <abbr title="Fax">Fax:</abbr>
    051 3713 6112<br />
    <abbr title="Email">Email:</abbr>
    Info@behpouyan.ir

</address>

<address>
    <strong>Support:</strong> <a href="mailto:Info@behpouyan.ir">Info@behpouyan.ir</a><br />
    <strong>WebSite:</strong> <a href="mailto:Behpouyan.ir">Behpouyan.ir
</a>
</address>
