@model RegisterViewModel
@{
    ViewData["Title"] = "ثبت نام کاربر جدید";
}

<h2 class="vrp vrp-h2">@ViewData["Title"]</h2>

<form  asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post"  class="vrp izontal">
    
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <span class="vrp vrp-text-import">*اطلاعات شخصی</span> 
    <div>
        <div class="form-group">
            <label asp-for="FristName" class="vrp-text-necessary col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FristName" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="vrp-text-necessary col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NationalCode" class="vrp-text-necessary col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" dir="ltr" />
                <span asp-validation-for="NationalCode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="vrp-text-necessary col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" dir="ltr"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PhoneNumber" class="form-control" dir="ltr"/>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Address" class="form-control" />
            </div>
        </div>
    </div>
  
    <span class="vrp vrp-text-import">*اطلاعات کاربری</span> 
    <div>
        <div class="form-group">
            <label asp-for="UserName" class="vrp-text-necessary col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UserName" class="form-control" dir="ltr" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="vrp-text-necessary col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Password" class="form-control" dir="ltr" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="vrp-text-necessary col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ConfirmPassword" class="form-control" dir="ltr"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Acc_Type" class="vrp-text-necessary col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-items="@(new SelectList(ViewBag.lstTypeACOUNT))" >
                </select>
                <input asp-for="Acc_Type" class="form-control" />
                <span asp-validation-for="Acc_Type" class="text-danger"></span>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
